.outer{
  width: 100%;
  height: 20px;
  border: 1px solid black;
  border-radius: 10px;
}
.inner{
  background-color: red;
  height: 20px;
  color: white;
  text-align: right;
  border-radius: 10px;
  transition: 0.5s ease-in;
}